*.DS_Store
*.idea/*
*.log
*Thumbs.db
.env
/node_modules
/vendor
.claude
/docs

/.specify
/specs

# Tests
tests/.env
tests/_output/
tests/_support/_generated/
tests/_craft/storage/*
!tests/_craft/storage/.gitkeep