<div class="pane">
    <h2>{{ 'Processing in Progress'|t('lens') }}</h2>

    <div data-lens-target="progress-container">
        {% include 'lens/_bulk/_progress' %}
    </div>

    <div class="lens-bulk-center">
        <form method="post" class="lens-bulk-inline-form">
            {{ csrfInput() }}
            {{ actionInput('lens/bulk/cancel') }}
            <button type="submit" class="btn">
                {{ 'Cancel Processing'|t('lens') }}
            </button>
        </form>
    </div>
</div>
