{% extends '_layouts/cp' %}

{% set title = 'Bulk Processing'|t('lens') %}
{% set selectedSubnavItem = 'bulk' %}

{% block content %}
    <div class="lens-bulk-page">

        {# Render only the current state #}
        {% if state == 'processing' %}
            {% include 'lens/_bulk/_state-processing' %}
        {% elseif state == 'complete' %}
            {% include 'lens/_bulk/_state-complete' %}
        {% else %}
            {% include 'lens/_bulk/_state-ready' %}
        {% endif %}

    </div>
{% endblock %}
